.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App section {
  display: flex;
  flex: 1;
}

.App article {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App section article:first-child {
  border-right: 1px solid #ccc;
}
